/* <weight>: Use a value from 100 to 1000 */
/* <grade>: Use a value from -200 to 150 */
/* <slant>: Use a value from -10 to 0 */
/* <width>: Use a value from 25 to 151 */
/* <thick stroke>: Use a value from 27 to 175 */
/* <thin stroke>: Use a value from 25 to 135 */
/* <counter width>: Use a value from 323 to 603 */
/* <uppercase height>: Use a value from 528 to 760 */
/* <lowercase height>: Use a value from 416 to 570 */
/* <ascender height>: Use a value from 649 to 854 */
/* <descender depth>: Use a value from -305 to -98 */
/* <figure height>: Use a value from 560 to 788 */
/* <uniquifier>: Use a unique and descriptive class name */

/* .roboto-flex-<uniquifier> { */
.roboto-flex {
	font-family: 'Roboto Flex', sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	/* font-variation-settings:
    "slnt" <slant>,
    "wdth" <width>,
    "GRAD" <grade>,
    "XOPQ" <thick stroke>,
    "XTRA" <counter width>,
    "YOPQ" <thin stroke>,
    "YTAS" <ascender height>,
    "YTDE" <descender depth>,
    "YTFI" <figure height>,
    "YTLC" <lowercase height>,
    "YTUC" <uppercase height>; */
}

/* .hepta-slab-<uniquifier> { */
.hepta-slab {
	font-family: 'Hepta Slab', serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
